@import "../functions/em.scss";

// Mobile-first
// $sm: em(576px);
// $md: em(768px);
// $lg: em(992px);
// $xl: em(1200px);
// $xxl: em(1400px);

// Desktop-first
$xs: em(575.98px);
$sm: em(767.98px);
$md: em(991.98px);
$lg: em(1199.98px);
$xl: em(1399.98px);